<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include("../partials/nav.ejs"); %>
        <h1>You are on ABOUT page in about.html</h1>
</body>

</html>