<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include("../partials/nav.ejs"); %>
        <h3>Our Products</h3>
</body>
</html> 